.adminDiv{
    /* border: 1px solid black; */
  
    width: 90%;
    margin: 20px auto;
  
    padding: 20px;
}
/* {// bgGradient="linear(blackAlpha.300 0%, gray.200 10%, blackAlpha.100 50%)"} */

.formDiv{
 height: 800px;
 width: 1500px;
}

.inputad{
    
    padding: 10px;
    width: 50%;
    border: 1px solid gray;

}

.submitBtn{
   
    border: 1px solid gray;
    border : 2px solid #009688;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 5px;
}


.submitBtn:hover{
    background-color: #A5D6A7;
    transition: smooth;
}
